/* Base */

* {
	color: #243547;
	font-family: "Crimson Pro", serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-rendering: optimizeLegibility;
}

body {
	background: #E6CEC3;
	display: grid;
	overflow: hidden;
}

body #noise {
	background-image: url("/static/img/noise.png");
	height: 100%;
	left: 0;
	mix-blend-mode: hard-light;
	opacity: 0.06;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

::selection {
	background: rgba(198, 194, 194, 0.99);
} 


/* Scrollbar */

.os-scrollbar {
	margin: 8px !important;
	width: 9px !important;
	z-index: -1 !important;
}

.os-scrollbar-track {
	background: #EED8D1 !important;
	border-radius: 1px !important;
}

.os-scrollbar-handle {
	background: #C95750 !important;
	border-radius: 1px !important
}


/* Grid */

body {
	display: grid;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
}


/* Nav */

nav #items .item {
	border-top: 1px dashed #A8B0B5;
	transition: box-shadow 0.3s;
}

nav #items .item a {
	display: block;
	padding: 18px;
}

nav #items .item:hover {
	box-shadow: -4px 0px 0px #828666;
}

nav #items .active {
	box-shadow: -4px 0px 0px #C95750;
}

nav #items .item a .icon {
	top: 2px;
	margin-right: 12px;
	position: relative;
	width: 17px;
}

nav #items .item a .icon-small {
	margin-left: calc(12px + 17px + 4px);
	margin-right: 12px;
	position: relative;
	top: -1px;
	width: 9px;
}

nav #items .item a .title {
	font-family: "Avenir", sans-serif;
}

nav #items .items-container .sub-items .item {
	opacity: 0;
	overflow-y: hidden;
	max-height: 0;
}

nav #items .items-container .sub-items .item.open {
	opacity: 1 !important;
	max-height: 100% !important;
}


/* Main */

main {
	background: #F5E1D9;
	transform: translateZ(0);
}

main .block {
	backdrop-filter: blur(3px) saturate(220%);
	backface-visibility: hidden;
	border-radius: 1px;
	position: fixed;
	pointer-events: none;
	right: 0px;
	z-index: 100;
}

main #block-one {
	background: rgba(172, 68, 61, 0.3);
	box-shadow: 50px -6px 50px 5px rgba(140, 23, 15, 0.18);
}

main #block-two {
	background: rgba(255, 194, 94, 0.3);
	box-shadow: 50px -6px 50px 5px rgba(218, 151, 40, 0.18);
}

main #content {
	line-height: 33px;
	margin: 0 auto;
	text-align: justify;
}

main #content a {
	background: #EED8D1;
	transition: background 0.1s;
}

main #content a:hover {
	background: #C6C2C2;
}

main #content blockquote {
	border-left: 4px solid #FFC25E;
	font-style: italic;
	margin-left: 38px;
	margin-right: 53px;
	padding-left: 20px;
}

main #content blockquote::before {
	background: #FFC25E;
	content: open-quote;
	font-size: 60px;
	position: absolute;
	margin-left: -64px;
}

main #content blockquote::after {
	background: #FFC25E;
	content: close-quote;
	float: right;
	font-size: 60px;
	margin-right: -53px;
	position: relative;
	top: -58px;
}

main #content h1,
main #content h2 {
	background: #C95750;
	border-radius: 1px;
	color: #FF7A71;
	display: inline-block;
	font-family: "Avenir", sans-serif;
	font-weight: 700;
}

main #content h1 {
	bottom: 125px;
	position: fixed;
	right: 0px;
	padding: 30px 37px 30px 37px;
	z-index: 101;
}

main #content h2 {
	margin-bottom: 35px;
	margin-top: 60px;
	padding: 20px 30px 20px 30px;
}

main #content hr {
	background: #C95750;
	border: none;
	height: 4px;
	margin-bottom: 18px;
}

main form input {
	background: #EED8D1;
	border: none;
	font-family: "Avenir", sans-serif;
	font-size: initial;
	outline: none;
	padding: 10px;
	transition: background 0.1s;
}

main form #upload-container {
	align-items: center;
	background: #EED8D1;
	cursor: pointer;
	display: flex;
	height: 200px;
	width: 100%;
}

main form #upload-container input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

main form #upload-container input + span {
	background: #C6C2C2;
	cursor: pointer;
	display: inline-block;
	font-family: "Avenir", sans-serif;
	font-size: initial;
	padding: 12px;
}

main form input[type="submit"] {
	background: #828666;
	color: #B4BB86;
	cursor: pointer;
	float: right;
}

main form input[type="submit"]:hover {
	color: var(--link-color);
}

main form input:required {
	box-shadow: none;
}

main #content li::before {
	background: #828666;
	border-right: 12px solid #EED8D1;
	border-radius: 1px;
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	margin-left: -38px;
	margin-top: 16px;
}

main #content p {
	margin-bottom: 25px;
}

main #content p q {
	background: #FFC25E;
	font-style: italic;
}

main #content pre {
	background: #EED8D1;
	padding: 38px;
}

main #content pre,
main #content pre * {
	font-family: "Courier Prime", mono-space;
	font-size: 20px;
}

main #content ul {
	margin-left: 38px;
}
